Afnarel/TransfertImageService/ConsoleApplication1/Service References/ImageTransfertServiceReference/ImageTransfert3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TransfertImageService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TransfertImageService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImageInfo">
    <xs:sequence>
      <xs:element name="ID" nillable="true" type="xs:string" />
      <xs:element name="Album" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfo" nillable="true" type="tns:ImageInfo" />
</xs:schema>